* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

$font-color: #16163F;
$btn-color: #9E3FFD;

.icon {
    font-size: 2rem;
    margin-left: 10px;
}

.nav-ele {
    margin: 0 auto;

    :hover {
        color: #9E3FFD;
    }
}

#first-sec {
    width: 100%;
    height: 120vh;
    background-image: url(/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png);
    background-attachment: fixed;
    background-size: cover;

    .text {
        position: absolute;
        top: 20%;
        left: 15%;
        width: 40%;

        h1 {
            color: $font-color;
            font-size: 5rem;
            margin-bottom: 15px;
        }

        p {
            font-size: 1.3rem;

        }

    }
}

.btn {

    background-color: $btn-color;
    border: none;
    border-radius: 40px;
}

#sec-section {
    background-color: white;
    color: $font-color;
    width: 100%;
    height: 90vh;
    text-align: center;

    h4 {
        color: $btn-color;
        padding: 10vh 0px 10px;

    }

    h2 {
        font-size: 3rem;
    }

}

.container-one {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;

    .plans {
        height: 50vh;
        width: 30%;

        h5 {
            margin: 20px;
            font-size: 1.2rem;
            color: #16163F;
        }

        i {
            font-size: 10rem;
            color: $btn-color;
        }
    }
}

#third-sec {
    background-color: #16163F;
    width: 100%;
    text-align: center;
    height: 50vh;
    color: white;

    h2 {
        font-size: 2.5rem;
        padding: 110px;
    }

    ul {
        .circle {
            background-color: white;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            display: inline-block;
        }
    }

    li {
        display: inline;
        margin: 0 2vw;
        font-size: 2rem;

        span {
            font-size: 3rem;
        }
    }
}

#about-sec {
    width: 100%;
    height: 100vh;

}

.about-image {
    background-image: url(/q.png);
    background-size: cover;
    width: 50%;
    height: 100vh;
    float: right;

}

.about {

    width: 50%;
    float: left;
    color: $font-color;

    .about-text {
        width: 60%;
        margin: 30px auto 0px;

        h4 {
            color: #9E3FFD;

        }

        h3 {
            font-size: 2.2rem;
            margin: 30px 0px;
        }
    }
}

#map {
    margin: 5vh 0;
}

footer {
    text-align: center;
    height: 6vh;

    .foot-text {
        margin-top: 3vh;
        font-size: 1.5rem;

        a {
            text-decoration: none;
            color: $btn-color;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-width: 480px) {

    #first-sec {


        .text {

            width: 80%;

            h1 {

                font-size: 4rem;
            }

        }
    }

    #sec-section {
        height: 250vh;

        h2 {
            font-size: 3rem;
            margin: 0 6px;
        }

    }

    .container-one {
        flex-direction: column;


        .plans {
            height: 70vh;
            width: 100%;


        }
    }
    #third-sec {
        margin-top: 70px;
        height: 70vh;
    
    
        h2 {
            font-size: 2.5rem;
            padding: 110px 30px 60px;
        }
    
        ul {
            .circle {
                display: none;
            }
        }
    
        li {
            display: block;
    
            font-size: 1rem;
    
            span {
                font-size: 2rem;
            }
        }
    }
    
    .about-image {
        width: 100%;
        height: 60vh;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .about {
    
        width: 100%;
    
        .about-text {
            width: 90%;
        }
    }
}

